#albums-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;

    .album-entry {
        height: 100%;
    }
}

@media (max-width: 800px) {
    #albums-list { grid-template-columns: 1fr 1fr 1fr }
}

@media (max-width: 600px) {
    #albums-list { grid-template-columns: 1fr 1fr }
}
