#nav-buttons {
    display: flex;
    justify-content: space-between;
    background-color: var(--content-color);
    border-radius: var(--border-radius);
    margin-bottom: 5px;
    padding: 10px;

    .default-button {
        width: 80px;
        padding: 10px;
        text-align: center;
    }
}

#played-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.song-entry {
    color: var(--primary-font-color);
    display: flex;
    height: 100%;
    margin: 0px;
    background-color: var(--content-color);
    padding: 10px;
    border-radius: var(--border-radius);
    margin-bottom: 5px;

    .song-contents {
        display: flex;
        flex-direction: column;
    }

    .song-img {
        width: 300px;
        margin-right: 15px;
        object-fit: cover;
        border-radius: var(--border-radius);
    }

    .song-artist, .song-album, .song-title, .song-time {
        padding: 0px;
        margin: 0px;
    }

    .song-title {
        font-size: 1.8em;
        margin-bottom: 5px;
        padding: 0px;
    }

    .song-artist {
        font-size: 1.3em;
        margin-bottom: 8px;
    }

    .song-album {
        font-size: 1em;
    }

    .song-time {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: flex-end;

        p {
            font-size: 1.3em;
            margin-bottom: 20px;
            padding: 0;
            color: #c5c5c5;
        }
    }

    @media (max-width: 600px) {
        .song-img {
            width: 180px;
            height: 180px;
        }

        .song-title {
            font-size: 1.4em;
        }

        .song-artist {
            font-size: 1.2em;
        }

        .song-album {
            font-size: 0.9em;
        }

        .song-time {
            p {
                margin-bottom: 10px;
                font-size: 1em;
            }
        }
    }
}
