#nav-buttons {
    display: flex;
    justify-content: space-between;
    background-color: var(--content-color);
    border-radius: var(--border-radius);
    margin-bottom: 5px;
    padding: 10px;

    .default-button {
        width: 80px;
        padding: 10px;
        text-align: center;
    }
}

#tracks-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
