* {
  box-sizing: border-box;
}

:root {
  --bg-color: #18232c;
  --content-color: #303940;
  --secondary-color: #3c464d;
  --primary-font-color: #e4eaed;
}

html {
    background-color: var(--bg-color);
    font-family: Arial, Helvetica, sans-serif;
}

.body {
    margin: 0px;
}
