#nav-buttons {
    display: flex;
    justify-content: space-between;
    background-color: var(--content-color);
    border-radius: 10px;
    padding: 15px;

    & > button {
        width: 70px;
        padding: 10px;
        border-radius: 10px;
        border: none;
        background-color: #dce3e7;
        cursor: pointer;
        border: 1px;

        &:hover {
            background: var(--accent-color);
            color: #ffffff;
            transform: translateY(-1px);
        }

        &:active {
            transform: translateY(0);
        }

        &:disabled {
            opacity: 0.6;
            cursor: wait;
            transform: none;
        }
    }

    & > button:hover {
        background-color: var(--accent-color);
    }
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.song-entry {
    color: var(--primary-font-color);
    display: flex;
    margin: 10px;
    background-color: var(--content-color);
    padding: 10px;
    border-radius: 10px;

    .song-img {
        width: 300px;
        margin-right: 15px;
        border-radius: 10px;
    }

    .song-title {
        font-size: 1.5em;
    }

    .song-artist, .song-album, .song-album > * {
        margin: 0px;
        padding: 0px;
        margin-left: 10px;
    }

    @media (max-width: 600px) {
        .song-img {
            width: 180px;
            height: 180px;
        }
    }
}
